name: Firestore Storage CI

on: [push]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: '/tmp/google-credentials-sa-node-${{ matrix.node }}-${{ matrix.package }}.json'
    strategy:
      matrix:
        package: [ core, firestore, indexes, function-utils ]
        node: [ 14 ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn lerna bootstrap
      - name: Build package
        run: |
          cd packages/${{ matrix.package }}
          yarn build
      - name: Prepare tests
        env:
          GOOGLE_APPLICATION_CREDENTIALS_BASE64: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_BASE64 }}
        run: |
          cd packages/${{ matrix.package }}
          npm run test:prepare --if-present
      - name: Test package
        run: |
          cd packages/${{ matrix.package }}
          yarn test
